#logo:hover{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation:flash; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}
 body{
background-color: rgb(222, 145, 128);

background-attachment: fixed;
background-size: cover;
 }
 
 .fancy-image:hover {
animation:pulse  ;
animation-duration: 5s;
 }